<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eQuran.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <eQuran.Properties.Settings>
            <setting name="FormLocation" serializeAs="String">
                <value>115, 53</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>1070, 920</value>
            </setting>
            <setting name="pnlaSelected" serializeAs="String">
                <value>English Translation By Yusuf Ali</value>
            </setting>
            <setting name="CurrentSoura" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="SearchState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pnlbSelected" serializeAs="String">
                <value>تفسير القــــــرطبي</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="FontName" serializeAs="String">
                <value>ae_AlArabiya</value>
            </setting>
            <setting name="CurrentAya" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ViewMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentScrollValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VolumeLevel" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ColorTheme" serializeAs="String">
                <value>gigi</value>
            </setting>
            <setting name="Identity" serializeAs="String">
                <value>Quran</value>
            </setting>
            <setting name="hadeethSelected" serializeAs="String">
                <value>صحيح البخاري</value>
            </setting>
            <setting name="hadeethSearchHistory" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="quranReciter" serializeAs="String">
                <value>1</value>
            </setting>
        </eQuran.Properties.Settings>
    </userSettings>
</configuration>